<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>Contact Vincent Messenger</mat-card-title>
  </mat-card-header>

  <form>
  <mat-form-field style="width:100%;">
    <input matInput placeholder="Name" >
  </mat-form-field>

  <mat-form-field style="width:100%;">
    <input matInput placeholder="Email" >
  </mat-form-field>

  <mat-form-field style="width:100%;">
    <textarea matInput placeholder="Message"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>
</mat-card>
