@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

.contact-card {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  min-width: 320px;
  max-width: 740px;
}

.quote-container {
  background: #fff;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  margin: 2em auto 0;
}

p { margin-bottom: 1.5em; }
p:last-child { margin-bottom: 0; }

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  position: relative;
}

// block quote comma
blockquote:before {
  content: '\201C';
  position: absolute;
  top: -.05em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}
