<div>
  <mat-card class="home-card mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Vincent Messenger</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img class="headshot" src="assets/img/headshot.png"/>
    </mat-card-content>
  </mat-card>

  <div class="quote-container">
    <blockquote cite="Google">Ultimately, our constant dissatisfaction with the way things are becomes the driving force behind everything we do.</blockquote>
  </div>
</div>
