<div>
  <mat-card class="home-card mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Vincent Messenger</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img class="headshot" src="assets/img/headshot.png"/>

      <p>
        I'm Vince Messenger, a Full Stack Software Engineer from Prescott, Arizona. I studied at Northern Arizona University and received
        a Bachelor's Degree in Computer Science with a Minor in Mathematics. I encourage you to explore the site and leave me a comment
        if you wish; feedback is always appreciated!

       </p>
    </mat-card-content>
  </mat-card>

  <div class="quote-container">
    <blockquote cite="Google">Ultimately, our constant dissatisfaction with the way things are becomes the driving force behind everything we do.</blockquote>
  </div>
</div>
